﻿<div class="product-details">
    <ul class="breadcrumbs">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="/">MÁY PHAY ĐÃ QUA SỬ DỤNG</a></li>
        <li>OKUMA LCS25</li>
    </ul>
    <table>
        <tr>
            <td valign="top">
                <div class="clearfix" id="image-gallery-ctn">
                    <ul id="image-gallery" class="gallery list-unstyled">
                        <li data-thumb="/Content/img/thumb/cS-1.jpg">
                            <img src="/Content/img/cS-1.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-2.jpg">
                            <img src="/Content/img/cS-2.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-3.jpg">
                            <img src="/Content/img/cS-3.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-4.jpg">
                            <img src="/Content/img/cS-4.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-5.jpg">
                            <img src="/Content/img/cS-5.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-6.jpg">
                            <img src="/Content/img/cS-6.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-7.jpg">
                            <img src="/Content/img/cS-7.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-8.jpg">
                            <img src="/Content/img/cS-8.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-9.jpg">
                            <img src="/Content/img/cS-9.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-10.jpg">
                            <img src="/Content/img/cS-10.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-11.jpg">
                            <img src="/Content/img/cS-11.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-12.jpg">
                            <img src="/Content/img/cS-12.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-13.jpg">
                            <img src="/Content/img/cS-13.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-14.jpg">
                            <img src="/Content/img/cS-14.jpg" />
                        </li>
                        <li data-thumb="/Content/img/thumb/cS-15.jpg">
                            <img src="/Content/img/cS-15.jpg" />
                        </li>
                    </ul>
                </div>
            </td>
            <td width="" valign="top" style="padding-left: 15px;">
                <h1>OKUMA LCS25 <small>Giá: Liên hệ</small></h1>
                <hr />
                <h2>Chúng tôi cam kết</h2>
                <ul class="list-check">
                    <li>Chúng tôi bảo hành 2 năm</li>
                    <li>Chúng tôi sẽ liên kết ngân hàng để hỗ trợ tài chính mới nhất</li>
                    <li>Chúng tôi có bộ phẩn trì chuyên nghiệp hàng tháng miễn phí cho quý khách để tránh sự cố xảy ra.</li>
                </ul>
                <h2>Thông số kỹ thuật</h2>
                <dl>
                    <dt>Tên thông số</dt>
                    <dd>Chi tiết thông số</dd>
                    <dt>Tên thông số</dt>
                    <dd>Chi tiết thông số</dd>
                    <dt>Tên thông số</dt>
                    <dd>Chi tiết thông số</dd>
                    <dt>Tên thông số</dt>
                    <dd>Chi tiết thông số</dd>
                    <dt>Tên thông số</dt>
                    <dd>Chi tiết thông số</dd>
                </dl>
            </td>
        </tr>
    </table>
</div>

<div class="product-list">
    <div class="product-list-header">
        <a class="#">MÁY PHAY ĐÃ QUA SỬ DỤNG</a>
        <div></div>
    </div>
    <div class="product-list-body">
        <div class="product-list-item">
            <a href="#" class="tooltip" data-tooltip-content="#tooltip_content1">
                <img src="~/Content/img/1.png" />
                <span>PHAY MITSUBISHI MV40A</span>
            </a>
            <div class="tooltip_templates">
                <div id="tooltip_content1">
                    <strong>Thông tin sản phẩm</strong><br />
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                </div>
            </div>
        </div>
        <div class="product-list-item">
            <a href="#" class="tooltip" data-tooltip-content="#tooltip_content2">
                <img src="~/Content/img/2.png" />
                <span>PHAY KITAMURA MYCENTER 2XIF</span>
            </a>
            <div class="tooltip_templates">
                <div id="tooltip_content2">
                    <strong>Thông tin sản phẩm</strong><br />
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                </div>
            </div>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>TIỆN FUJI TN30</span>
            </a>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>TIỆN FUJI TN30</span>
            </a>
        </div>
    </div>
</div>