﻿@{
    ViewBag.Title = "Home Page";
}
<div class="product-list">
    <div class="product-list-header">
        <a class="#">MÁY PHAY ĐÃ QUA SỬ DỤNG</a>
        <div></div>
    </div>
    <div class="product-list-body">
        <div class="product-list-item">
            <a href="#" class="tooltip" data-tooltip-content="#tooltip_content1">
                <img src="~/Content/img/1.png" />
                <span>PHAY MITSUBISHI MV40A</span>
            </a>
            <div class="tooltip_templates">
                <div id="tooltip_content1">
                    <strong>Thông tin sản phẩm</strong><br />
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                </div>
            </div>
        </div>
        <div class="product-list-item">
            <a href="#" class="tooltip" data-tooltip-content="#tooltip_content2">
                <img src="~/Content/img/2.png" />
                <span>PHAY KITAMURA MYCENTER 2XIF</span>
            </a>
            <div class="tooltip_templates" >
                <div id="tooltip_content2">
                    <strong>Thông tin sản phẩm</strong><br />
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                    <p>ádasdasda</p>
                </div>
            </div>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>TIỆN FUJI TN30</span>
            </a>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item view-more">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>Xem thêm...</span>
            </a>
        </div>
    </div>
</div>
<div class="product-list">
    <div class="product-list-header">
        <a class="#">MÁY TIỆN ĐÃ QUA SỬ DỤNG</a>
        <div></div>
    </div>
    <div class="product-list-body">
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/1.png" />
                <span>PHAY MITSUBISHI MV40A</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/2.png" />
                <span>PHAY KITAMURA MYCENTER 2XIF</span>
            </a>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>TIỆN FUJI TN30</span>
            </a>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>TIỆN FUJI TN30</span>
            </a>
        </div>
    </div>
</div>
<div class="product-list">
    <div class="product-list-header">
        <a class="#">MÁY LOẠI KHÁC</a>
        <div></div>
    </div>
    <div class="product-list-body">
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/1.png" />
                <span>PHAY MITSUBISHI MV40A</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/2.png" />
                <span>PHAY KITAMURA MYCENTER 2XIF</span>
            </a>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>TIỆN FUJI TN30</span>
            </a>
        </div>
        <div class="product-list-item is-new">
            <a href="#">
                <img src="~/Content/img/3.png" />
                <span>TIỆN TAKISAWA TC1</span>
            </a>
        </div>
        <div class="product-list-item">
            <a href="#">
                <img src="~/Content/img/4.png" />
                <span>TIỆN FUJI TN30</span>
            </a>
        </div>
    </div>
</div>