﻿*{
    box-sizing: border-box;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: #3163A9;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.clearfix{
    clear: both;
}
html {
    background-color: #25476A;
}

@media only screen and (min-width: 768px) {
    body {
        display: block;
        width: 1070px;
        background-color: #fff;
        min-height: 100vh;
        margin: 0px auto;
        border: 1px solid #fff;
        font-size: 14px;
    }

    #header {
        height: 103px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    #header {
    }

    .header-right {
        display: flex;
        flex-direction: row;
    }

    #menubar {
        display: flex;
        align-items: stretch;
        width: 100%;
    }

    .menu {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
        font-family: 'UTM Banque' !important;
        font-size: 12px;
        flex: 1;
    }

        .menu > li {
            padding: 5px 15px;
            flex-basis: 12.5%;
            background-color: #25476A;
            border: 1px solid #ffffff;
            line-height: 21px;
            position: relative;
            text-align: center;
        }

            .menu > li.active, .menu > li:hover {
                background-color: #D82C2E;
            }

            .menu > li > a {
                color: #fff;
                text-decoration: none;
                white-space: nowrap;
                font-family: 'UTM Banque' !important;
            }

                .menu > li > a.is-new {
                    padding-right: 25px;
                    position: relative;
                }

                    .menu > li > a.is-new:after {
                        content: "New";
                        font-size: 0.8em;
                        position: absolute;
                        top: -3px;
                        padding: 2px;
                        background-color: #D82C2E;
                        line-height: 1em;
                        margin-left: 5px;
                        border-radius: 2px;
                    }

            .menu > li > ul {
                position: absolute;
                display: none;
                list-style: none;
                margin: 0px;
                padding: 0px;
                margin-left: -16px;
                margin-top: 6px;
                z-index: 2;
            }

                .menu > li > ul li {
                    padding: 5px 15px;
                    background-color: #25476A;
                    border: 1px solid #ffffff;
                    white-space: nowrap;
                }

                    .menu > li > ul li a {
                        color: #ffffff;
                        text-decoration: none;
                        line-height: 21px;
                        font-family: 'UTM Banque' !important;
                    }

                    .menu > li > ul li:hover {
                        background-color: #D82C2E;
                    }

            .menu > li:hover > ul {
                display: block;
            }

            .menu > li > ul > li > ul {
                position: absolute;
                display: none;
                list-style: none;
                margin: 0px;
                padding: 0px;
                margin-left: 0px;
                top: 0px;
                z-index: 2;
                left: 100%;
            }

            .menu > li > ul > li:hover > ul {
                display: block;
            }

    .lang-switch a {
        text-decoration: none;
    }

    .menu-form .input-group {
        display: flex;
        border: 1px solid #eeeeee;
        padding-right: 1px;
    }

        .menu-form .input-group button {
            height: 32px;
            width: 15%;
            border: none;
            background-color: #eeeeee;
        }

        .menu-form .input-group input {
            height: 32px;
            border: none;
            outline: none;
            font-size: 14px;
            padding: 5px 10px;
            line-height: 32px;
            width: 87%;
        }

        .menu-form .input-group button img {
            height: 18px;
        }

    /*Content*/
    #content {
        display: flex;
        margin-top: 1px;
        background-color: #f0f0f0;
    }

    #panel-left {
        width: 245px;
        margin-top: 15px;
    }

    #panel-center {
        flex: 1;
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .card {
        background-color: #ffffff;
        margin-bottom: 15px;
    }

        .card.card-border {
            border: 5px solid #25476A;
        }

    .card-header {
        padding: 10px 15px;
        background-color: #25476A;
        font-weight: 700;
        color: #fff;
    }

    .card-body {
        padding: 10px;
    }

    .list {
    }

    .list-header {
        font-weight: bold;
        color: #666666;
    }

        .list-header small {
            position: absolute;
            margin-top: -3px;
            margin-left: 3px;
            padding: 3px;
            background-color: #D82C2E;
            color: #fff;
            line-height: 1em;
            border-radius: 3px;
            font-size: 0.6em;
            font-weight: normal;
        }

    .list-body {
        margin-top: 10px;
        padding-left: 10px;
        list-style: none;
    }

        .list-body li {
            padding: 5px 0px;
        }

            .list-body li a {
                text-decoration: none;
                color: #a0a0a0;
            }

                .list-body li a:hover {
                    color: #666666;
                }

            .list-body li:before {
                content: "";
                background-image: url('img/2dotsr.png');
                display: inline-block;
                width: 12px;
                height: 12px;
                background-position: left center;
                background-size: 100%;
                background-repeat: no-repeat;
                margin-right: 10px;
            }

    hr {
        border-color: #eeeeee;
        background-color: #eeeeee;
        outline-color: #eeeeee;
        border-style: solid;
        border-top: 1px;
    }

    .product-list {
        margin-bottom: 15px;
    }

    .product-list-header {
        display: flex;
        width: 100%;
    }

        .product-list-header > a {
            float: left;
            font-weight: bold;
            font-size: 16px;
            color: #3163A9;
            margin-right: 10px;
        }

            .product-list-header > a:before {
                content: "";
                display: inline-block;
                width: 32px;
                height: 1em;
                background-image: url('img/2dots.png');
                background-position: left center;
                background-size: auto 100%;
                background-repeat: no-repeat;
                margin-right: 10px;
            }

        .product-list-header > div {
            margin-top: 9px;
            height: 3px;
            flex-basis: 100%;
            background-color: #25476A;
            flex: 1;
        }

    .product-list-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .product-list-item {
        width: 25%;
        margin-top: 10px;
        padding-right: 10px;
        display: block;
        position: relative;
    }

        .product-list-item:hover > a > span {
            color: #D82C2E;
        }

        .product-list-item.is-new::after {
            content: "New";
            position: absolute;
            padding: 3px;
            background-color: #D82C2E;
            color: #fff;
            font-size: 9px;
            border-radius: 3px;
            line-height: 1em;
            right: 15px;
            bottom: 4em;
        }

        .product-list-item > a {
            text-decoration: none;
        }

            .product-list-item > a > span {
                background-color: #fff;
                display: block;
                height: 3.5em;
                padding: 5px;
                font-weight: 600;
                font-size: 12px;
                text-align: center;
            }

            .product-list-item > a > img {
                width: 100%;
                display: block;
            }

        .product-list-item.view-more a:after {
            content: "";
            position: absolute;
            width: 100%;
            width: calc(100% - 10px);
            height: 100%;
            background-image: url('img/add.png');
            background-position: center center;
            background-size: 48px;
            background-repeat: no-repeat;
            top: 0px;
            background-color: #000;
            opacity: 0.5;
        }

        .product-list-item.view-more a:hover::after {
            opacity: 0.8;
        }
    /*Footer*/
    #footer {
        display: flex;
        background-color: #25476A;
        color: #fff;
    }

    #footer-left {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 4em;
    }

        #footer-left a {
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            margin: 10px;
        }

            #footer-left a img {
                height: 32px;
            }

    #footer-right {
        flex: 1;
    }

    #copyright {
        display: block;
        text-align: center;
        background-color: #17314C;
        padding: 15px;
        color: #fff;
    }
    /*Slick*/
    .slick-dots {
        bottom: 0px;
    }

    .home-slider img {
        width: 1070px;
        height: 223px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }

    /*request counter*/
    .visit-counter {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .visit-counter li {
            height: 36px;
            line-height: 36px;
        }

            .visit-counter li > img {
                height: 20px;
                line-height: 36px;
                vertical-align: middle;
                margin-top: -5px;
                margin-right: 5px;
            }

            .visit-counter li .number {
                float: right;
            }

    #visit-counter-total span {
        padding: 5px 0px;
        background: -moz-linear-gradient(90deg, #25476A 0, #4280BF 45%, #25476A 55%, #4280BF 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, 90deg, color-stop(0, 25476A), color-stop(45%, 4280BF), color-stop(55%, 25476A), color-stop(100%, 4280BF)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(90deg, #25476A 0, #4280BF 45%, #25476A 55%, #4280BF 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(90deg, #25476A 0, #4280BF 45%, #25476A 55%, #4280BF 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(90deg, #25476A 0, #4280BF 45%, #25476A 55%, #4280BF 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
        background: linear-gradient(0deg, #25476A 0, #4280BF 45%, #25476A 55%, #4280BF 100%); /* W3C */
        color: #fff;
        font-weight: bold;
        font-family: 'UTM Banque' !important;
        margin: 1px;
        display: inline-block;
        vertical-align: middle;
        width: 1.6em;
        text-align: center;
    }

    .tooltip_templates {
        visibility: hidden;
        display: none;
    }

    .tooltipster-sidetip {
        margin-top: 90px;
    }

    .product-details {
        display: block;
        max-width: 100%;
        padding: 15px;
        background-color: #ffffff;
        margin-bottom: 15px;
        overflow: auto;
    }

    /*Breadcrumbs*/
    .breadcrumbs {
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px;
        margin-bottom: 15px;
    }

        .breadcrumbs li {
            margin-right: 10px;
        }

            .breadcrumbs li:first-child {
                font-weight: bold;
            }

            .breadcrumbs li:not(:first-child)::before {
                content: ":";
                margin-right: 10px;
            }

    #image-gallery > li > img {
        width: 300px;
    }

    /*Check lick*/
    ul.list-check {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        ul.list-check li {
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

            ul.list-check li:before {
                content: "\2714";
                margin-left: -15px;
                margin-right: 10px;
            }

    .product-details h1 {
        color: #444;
        margin-top: 0px;
    }

        .product-details h1 small {
            background-color: #D82C2E;
            color: #fff;
            font-size: 50%;
            padding: 2px 15px;
            margin-bottom: 2px;
            display: inline-block;
            vertical-align: middle;
        }

    .product-details h2 {
        color: #D82C2E;
    }

    .product-details dl {
        width: 100%;
    }

        .product-details dl dt {
            display: inline-block;
            vertical-align: top;
            width: 30%;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .product-details dl dd {
            display: inline-block;
            vertical-align: top;
            width: 60%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    /*Display Classes*/

    .lg-show {
        display: block;
    }

    .lg-hide {
        display: none;
    }

    #image-gallery-ctn{
        max-width: 300px;
    }
}

@media only screen and (max-width: 767px) {
    .sm-show {
        display: block;
    }

    .sm-hide {
        display: none;
    }
}

/*Mobile responsive*/
@media only screen and (max-width: 767px){
    html {
        width: 100vw;
        overflow-x: hidden;
    }
    body {
        width: 100vw;
        padding: 0px;
        margin: 0px;
        background-color: #F4F0EF;
        overflow-x: hidden;
    }
    #header{
        display: flex;
        width: 100vw;
        justify-content: space-between;
        background-color: #fff;
    }
        #header > a > img{
            width: 20vw;
        }
        .header-right {
            display: flex;
            align-content: stretch;
            justify-content: space-between;
        }
        .header-right{
            display: flex;
            flex-direction: row;
            justify-content: initial;
            align-content: initial;
        }
            .header-right > img {
                width: 60vw;
                height: auto;
                object-fit: contain;
            }
    .home-slider img {
        width: 100vw;
    }
    .slick-dots{
        bottom: 0px;
    }
    .slick-dotted.slick-slider{
        margin-bottom: 15px;
    }
    #menubar {
        margin: 0px;
        padding: 0px;
        position: fixed;
        top: 0px;
        right: -120vw;
        bottom: 0px;
        z-index: 999;
        width: 90%;
        flex-direction: column;
        display: block;
        align-content: stretch;
        transition: all 500ms ease;
        display: flex;
    }
    #menubar .fade {
        content: "";
        position:fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
        z-index: -1;
        margin: 0px;
        padding: 0px;
        visibility: hidden;
    }
    .menu {
        display: block;
        overflow: auto;
        background-color: #315EA1;
        border-bottom: 1px solid #fff;
        height: auto;
        flex: auto;
        margin: 0px;
        padding: 0px;
        list-style: none;
        color: #fff;
        font-family: 'UTM Banque' !important;
        font-size: 12px;
    }
        .menu > li {
            border-bottom: none;
            border-left: none;
            border-right: none;
            text-align: left;
            background-color: #315EA1;
            color: #fff;
            border-bottom: 1px solid rgba(255,255,255,0.5);
        }
            .menu > li a {
                color: #fff;
                font-family: 'UTM Banque' !important;
                font-size: 14px;
                padding-left: 2em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                display: block;
            }
            .menu > li ul {
                list-style: none;
                padding: 0px;
                background-color: #28508E;
            }
                .menu > li ul li {
                    border-top: 1px solid rgba(255,255,255,0.2);
                }
                .menu > li ul li a {
                    font-size: 13px;
                    padding-left: 3em;
                    display: block;
                }
                    .menu > li ul li ul li a {
                        font-size: 13px;
                        padding-left: 4em;
                        display: block;
                    }
    #menubar.show {
        right: 0vw;
        display: flex;
    }
    #menubar.show .fade {
        visibility: visible;
    }
    .menu-toggler{
        height: 1.5em;
        margin: 1em;
    }
    .menu-form{
        z-index: 10;
        background-color: #fff;
    }

        .menu-form .input-group {
            display: flex;
            border: 1px solid #eeeeee;
            padding-right: 1px;
        }

            .menu-form .input-group button {
                height: 32px;
                width: 15%;
                border: none;
                background-color: #eeeeee;
            }

            .menu-form .input-group input {
                height: 32px;
                border: none;
                outline: none;
                font-size: 14px;
                padding: 5px 10px;
                line-height: 32px;
                width: 87%;
            }

            .menu-form .input-group button img {
                height: 18px;
            }


    .card {
        background-color: #ffffff;
        margin-bottom: 15px;
    }

        .card.card-border {
            border: 5px solid #25476A;
        }

    .card-header {
        padding: 10px 15px;
        background-color: #25476A;
        font-weight: 700;
        color: #fff;
    }

    .card-body {
        padding: 10px;
    }

    .list-header {
        font-weight: bold;
        color: #666666;
    }

        .list-header small {
            position: absolute;
            margin-top: -3px;
            margin-left: 3px;
            padding: 3px;
            background-color: #D82C2E;
            color: #fff;
            line-height: 1em;
            border-radius: 3px;
            font-size: 0.6em;
            font-weight: normal;
        }

    .list-body {
        margin-top: 10px;
        padding-left: 10px;
        list-style: none;
    }

        .list-body li {
            padding: 5px 0px;
        }

            .list-body li a {
                text-decoration: none;
                color: #a0a0a0;
            }

                .list-body li a:hover {
                    color: #666666;
                }

            .list-body li:before {
                content: "";
                background-image: url('img/2dotsr.png');
                display: inline-block;
                width: 12px;
                height: 12px;
                background-position: left center;
                background-size: 100%;
                background-repeat: no-repeat;
                margin-right: 10px;
            }

    hr {
        border-color: #eeeeee;
        background-color: #eeeeee;
        outline-color: #eeeeee;
        border-style: solid;
        border-top: 1px;
    }

    .product-list {
        margin-bottom: 15px;
        padding: 10px;
    }

    .product-list-header {
        display: flex;
        width: 100%;
    }

        .product-list-header > a {
            float: left;
            font-weight: bold;
            font-size: 14px;
            color: #3163A9;
            margin-right: 10px;
        }

            .product-list-header > a:before {
                content: "";
                display: inline-block;
                width: 32px;
                height: 1em;
                background-image: url('img/2dots.png');
                background-position: left center;
                background-size: auto 100%;
                background-repeat: no-repeat;
                margin-right: 10px;
            }

        .product-list-header > div {
            margin-top: 9px;
            height: 3px;
            flex-basis: 100%;
            background-color: #25476A;
            flex: 1;
        }

    .product-list-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .product-list-item {
        width: 50%;
        margin-top: 10px;
        padding-right: 10px;
        display: block;
        position: relative;
    }

        .product-list-item:hover > a > span {
            color: #D82C2E;
        }

        .product-list-item.is-new::after {
            content: "New";
            position: absolute;
            padding: 3px;
            background-color: #D82C2E;
            color: #fff;
            font-size: 9px;
            border-radius: 3px;
            line-height: 1em;
            right: 15px;
            bottom: 4em;
        }

        .product-list-item > a {
            text-decoration: none;
        }

            .product-list-item > a > span {
                background-color: #fff;
                display: block;
                height: 3.5em;
                padding: 5px;
                font-weight: 600;
                font-size: 12px;
                text-align: center;
            }

            .product-list-item > a > img {
                width: 100%;
                display: block;
            }

        .product-list-item.view-more a:after {
            content: "";
            position: absolute;
            width: 100%;
            width: calc(100% - 10px);
            height: 100%;
            background-image: url('img/add.png');
            background-position: center center;
            background-size: 48px;
            background-repeat: no-repeat;
            top: 0px;
            background-color: #000;
            opacity: 0.5;
        }

        .product-list-item.view-more a:hover::after {
            opacity: 0.8;
        }

    .tooltip_templates {
        visibility: hidden;
        display: none;
    }

    .tooltipster-sidetip {
        margin-top: 90px;
    }

    /*Footer*/
    #footer {
        display: block;
        background-color: #25476A;
        color: #fff;
    }

    #footer-left {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1em;
        text-align: center;
    }

        #footer-left a {
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            margin: 10px;
        }

            #footer-left a img {
                height: 32px;
            }

    #footer-right {
        padding: 10px;
        font-size: 13px;
    }
        #footer-right > h3 {
            margin-top: 0px;
        }
    #copyright {
        display: block;
        text-align: center;
        background-color: #17314C;
        padding: 10px;
        color: #fff;
        font-size: 12px;
    }

    /*Breadcrumbs*/
    .breadcrumbs {
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px;
        margin-bottom: 5px;
        font-size: 10px;
        padding: 10px;
    }

        .breadcrumbs li {
            margin-right: 5px;
        }

            .breadcrumbs li:first-child {
                font-weight: bold;
            }

            .breadcrumbs li:not(:first-child)::before {
                content: ":";
                margin-right: 5px;
            }

    #image-gallery > li > img {
        max-width: 100vw;
    }
    #image-gallery-ctn {
        max-width: 100vw;
    }
    /*Check lick*/
    ul.list-check {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        ul.list-check li {
            padding-left: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

            ul.list-check li:before {
                content: "\2714";
                margin-left: -15px;
                margin-right: 10px;
            }

    .product-details h1 {
        color: #444;
        margin-top: 0px;
    }

        .product-details h1 small {
            background-color: #D82C2E;
            color: #fff;
            font-size: 50%;
            padding: 2px 15px;
            margin-bottom: 2px;
            display: inline-block;
            vertical-align: middle;
        }

    .product-details h2 {
        color: #D82C2E;
    }

    .product-details dl {
        width: 100%;
    }

        .product-details dl dt {
            display: inline-block;
            vertical-align: top;
            width: 30%;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .product-details dl dd {
            display: inline-block;
            vertical-align: top;
            width: 60%;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    .product-details > table{
        display: block;
        font-size: 12px;
    }
    .product-details > table tbody {
        display: block;
    }
    .product-details > table tr{
        display: block;
    }
        .product-details > table td {
            display: block;
            padding: 10px;
        }
}