﻿<div id="footer">

    <div class="card lg-hide sm-show" style="color: #888888; font-size: 12px;">
        <div class="card-header">LIÊN HỆ</div>
        <div class="card-body">
            <a href="#"><b>CTY TNHH MTV KT TÚ LỘC</b></a>
            <p>Trụ sở: 103/1 Nâm Lân, Bà Điểm, Hóc Môn, Tp HCM (gần ngã 4 An Sương)</p>
            <p>MST: 0309738106</p>
            <p>ĐT: (08) 3592 1711</p>
            <p>Hotline: 09 3839 7879</p>
            <p>Seller: 0902 419 483</p>
            <p>Email: tuloctechnology@gmail.com</p>
            <p>Số tài khoản: 7307709 - Ngân hàng ACB - PGD Nguyễn Ảnh Thủ, Q.12, Tp HCM</p>
            <p>
                <b>*Chi nhánh Tp. HCM (showroom)</b><br />
                354 Quốc lộ 1A, P. Bình Hưng Hòa B, Q. Bình Tân, Tp. HCM (gần ngã tư Gò Mây)
            </p>
            <p>
                <b>*Chi nhánh Hà Nội</b><br />
                Đức Thượng, Hoài Đức, Hà Nội (gần nhã tư Trôi)
            </p>
            <p>
                <b>*Xưởng gia công, sản xuất</b><br />
                58/1B ấp Tiền Tân, Bà Điểm, Hóc Môn, Tp. HCM
            </p>
        </div>
    </div>

    <div id="footer-left">
        <a href="#">
            <img src="~/Content/img/facebook-logo.png" />
        </a>
        <a href="#">
            <img src="~/Content/img/google-plus.png" />
        </a>
        <a href="#">
            <img src="~/Content/img/linkedin-logo.png" />
        </a>
    </div>
    <div id="footer-right">
        <h3>CÔNG TY TNHH MTV KỸ THUẬT TÚ LỘC</h3>
        <p>
            <b>Addr:</b> 103/1 Nam Lân - Bà Điểm - Hóc Môn - Tp. Hồ Chí Minh
        </p>
        <p>
            <b>Tel/Fax:</b> (08) 3592 1711 - <b>HOTLINE:</b> 09 3839 7879 - <b>SELLER:</b> 0902 419 483
        </p>
        <p>
            <b>EMAIL:</b> tuloctechnology@gmail.com
        </p>
    </div>
</div>
<div id="copyright">Copyright &copy;@DateTime.Now.Year TuLocTech.vn</div>