﻿<div id="header">
    <a href="/">
        <img class="lg-show sm-hide" src="~/Content/img/tuloc_01.png" />
        <img class="lg-hide sm-show" src="~/Content/img/tuloc_01_01.png" />
    </a>
    <div class="header-right" style="">
        <img src="~/Content/img/tuloc_02.png" />
        <div class="lang-switch lg-show sm-hide">
            <a href="#">
                <img src="~/Content/img/tuloc_03.png" />
            </a>
            <a href="#">
                <img src="~/Content/img/tuloc_04.png" />
            </a>
        </div>
        <div class="sm-show lg-hide">
            <img class="menu-toggler" src="~/Content/img/menu.png" />
        </div>
    </div>
</div>
<div id="menubar">
    <ul class="menu">
        <li class="sm-show lg-hide" style="text-align: right;">
            <img class="menu-toggler" src="~/Content/img/delete.png" />
        </li>
        <li class="active"><a href="/">Trang chủ</a></li>
        <li><a href="/Home/About">Giới thiệu</a></li>
        <li>
            <a href="#">Sản phẩm <small>&#9660;</small></a>
            <ul>
                <li>
                    <a href="#">VA-750</a>
                    <ul>
                        <li><a href="#">asd ada da đá asd </a></li>
                        <li><a href="#">fgh gfhgfhgfh gfh</a></li>
                    </ul>
                </li>
                <li><a href="#">Máy đã qua sử dụng</a></li>
            </ul>
        </li>
        <li><a href="/Home/Services" class="is-new">Dịch vụ</a></li>
        <li><a href="/Home/" class="is-new">Gia công</a></li>
        <li><a href="/Home/Contact">Liên hệ</a></li>
        <li><a href="/Home/News">Tin tức</a></li>
        <li><a href="/Home/Career">Tuyển dụng</a></li>
    </ul>
    <form class="menu-form">
        <div class="input-group">
            <input type="text" placeholder="Tìm kiếm" />
            <button type="submit">
                <img src="~/Content/img/search-icon.png" />
            </button>
        </div>
    </form>
    <div class="fade"></div>
</div>
<div class="slick-single home-slider">
    <div>
        <a href="#">
            <img src="~/Content/img/slider-1.jpg" />
        </a>
    </div>
    <div>
        <a href="">
            <img src="~/Content/img/slider-2.jpg" />
        </a>
    </div>
</div>