﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tu Loc Tech</title>
    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script src="~/Content/jquery-migrate-1.4.1.min.js"></script>
    <script src="~/Content/jquery-migrate-3.0.0.min.js"></script>

    <link href="~/Content/fonts/OpenSans.css" rel="stylesheet" />
    <link href="~/Content/fonts/UTMBanque.css" rel="stylesheet" />
    <script src="~/Content/slick/slick.min.js"></script>
    <link href="~/Content/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/slick/slick-theme.css" rel="stylesheet" />

    <script src="~/Content/tooltiplipster/js/tooltipster.bundle.min.js"></script>
    <script src="~/Content/tooltiplipster/js/tooltipster-scrollableTip.min.js"></script>
    <link href="~/Content/tooltiplipster/css/tooltipster.bundle.min.css" rel="stylesheet" />
    <link href="~/Content/tooltiplipster/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />

    <link href="~/Content/lightslider/css/lightslider.min.css" rel="stylesheet" />
    <script src="~/Content/lightslider/js/lightslider.min.js"></script>

    <script src="~/Content/main.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_Header")
    <div id="content">
        <div id="panel-left">
            @Html.Partial("_PanelLeft")
        </div>
        <div id="panel-center">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
