﻿<div class="card lg-show sm-hide">
    <div class="card-header">SẢN PHẨM</div>
    <div class="card-body">
        <div class="list">
            <div class="list-header">Máy đã qua sử dụng</div>
            <ul class="list-body">
                <li><a href="#">Máy phay (90)</a></li>
                <li><a href="#">Máy tiện (120)</a></li>
                <li><a href="#">Khác</a></li>
            </ul>
        </div>
        <hr />
        <div class="list">
            <div class="list-header">Máy mới</div>
            <ul class="list-body">
                <li><a href="#">Máy phay (90)</a></li>
                <li><a href="#">Máy tiện (120)</a></li>
                <li><a href="#">Khác</a></li>
            </ul>
        </div>
        <hr />
        <div class="list">
            <div class="list-header">Biến áp <small>New</small></div>

        </div>
        <hr />
        <div class="list">
            <div class="list-header">Phụ kiện</div>
            <ul class="list-body">
                <li><a href="#">Phụ kiện cơ khí (32)</a></li>
                <li><a href="#">Phụ kiện điện tử (34)</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card lg-show sm-hide">
    <div class="card-header">LIÊN HỆ</div>
    <div class="card-body">
        <a href="#"><b>CTY TNHH MTV KT TÚ LỘC</b></a>
        <p>Trụ sở: 103/1 Nâm Lân, Bà Điểm, Hóc Môn, Tp HCM (gần ngã 4 An Sương)</p>
        <p>MST: 0309738106</p>
        <p>ĐT: (08) 3592 1711</p>
        <p>Hotline: 09 3839 7879</p>
        <p>Seller: 0902 419 483</p>
        <p>Email: tuloctechnology@gmail.com</p>
        <p>Số tài khoản: 7307709 - Ngân hàng ACB - PGD Nguyễn Ảnh Thủ, Q.12, Tp HCM</p>
        <p>
            <b>*Chi nhánh Tp. HCM (showroom)</b><br />
            354 Quốc lộ 1A, P. Bình Hưng Hòa B, Q. Bình Tân, Tp. HCM (gần ngã tư Gò Mây)
        </p>
        <p>
            <b>*Chi nhánh Hà Nội</b><br />
            Đức Thượng, Hoài Đức, Hà Nội (gần nhã tư Trôi)
        </p>
        <p>
            <b>*Xưởng gia công, sản xuất</b><br />
            58/1B ấp Tiền Tân, Bà Điểm, Hóc Môn, Tp. HCM
        </p>
    </div>
</div>
<div class="card card-border lg-show sm-hide">
    <div class="card-header">Lượt truy cập</div>
    <div class="card-body">
        <p style="text-align: center;" id="visit-counter-total">00123456</p>
        
        <ul class="visit-counter">
            <li>
                <img class="icon" src="~/Content/img/user.png" />
                <span class="text">Hôm nay</span>
                <span class="number">25</span>
            </li>
            <li>
                <img class="icon" src="~/Content/img/user.png" />
                <span class="text">Hôm qua</span>
                <span class="number">25</span>
            </li>
            <li>
                <img class="icon" src="~/Content/img/users.png" />
                <span class="text">Trong tháng</span>
                <span class="number">25</span>
            </li>
            <li>
                <img class="icon" src="~/Content/img/users.png" />
                <span class="text">Trong năm</span>
                <span class="number">25</span>
            </li>
        </ul>
        <hr />
        <p style="text-align: center;">Đang online: 10</p>
    </div>
</div>